.break {
    flex-basis: 100%;
    height: 0;
  }

.news_container {
    background-color: transparent;
    margin-top: 0%;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(30,34,27,0.6), 0 6px 20px 0 rgba(133,144,118,0.19); */
}

.news_content {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 100%;
    /* border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: white; */
    /* min-height: 110vh; */
    /* height: 100%; */
    padding-bottom: 20px;
}

.news_content_innards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 90%;
    max-width: 90%;
    /* min-width: 100%;
    max-width: 100%;
    width: 100%; */
    min-height: 20vh;
    /* margin: 5px; */
    /* padding: 5px; */
    padding-bottom: 15px;
}

.news_content_innards p {
    color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
}

.news_content_innards h1 {
    color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}

.news_header {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-content: center;
    align-items : top; 
    background-color: #9e9277;
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.news_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 95%;
    max-width: 95%;
    min-height: 20vh;
    white-space: pre-wrap;
}

.news_header h1 {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    color: black;
    font-size: 14px;
    width: 85%;
    max-width: 85%;
    padding: 4px;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}

.news_header h2 { 
    display: flex;
    justify-content: flex-end;
    color: black;
    font-size: 12px;
    width: 15%;
    max-width: 15%;
    padding: 4px;
}


.add_subject {
    width: 75%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 5vh;
}

.add_content {
    width: 76%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 20vh;
    white-space: pre-wrap;
}

.editremove {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color: gray;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}

.editremove:hover{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color:#9e9277;
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (max-width: 750px) { 
    .news_container {  
        margin-bottom: 120px;
    }
    
    .news_content {
        border: 0;
        width: 100%;
        justify-content: center;
    }
    
    .news_content_innards {
        width: 98%;
        max-width: 98%;
    }
    
    .news_header {
        width: 100%;
    }

    .news_header h1 {
        width: 75%;
        max-width: 75%;
        margin-right: 10px;
    }
    
    .news_header h2 {
        width: 20%;
        max-width: 20%;
        padding-left: 10px;
    }
}