@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pinyon+Script&display=swap');

.App {
  text-align: center;
  margin: 0;
  padding: 0 0 200px 0;
  width: 100%;
  min-height: 20vh;
  position: relative;
  display: flex;
  flex-direction: row wrap;
}

.App > * {
    flex: 1 1 auto;
}

.App_container {
    display: flex;
    width: 100%;
}

.App_container > * {
    flex: 1;
}



@media only screen and (max-width: 850px) {
    .App {
        padding-bottom: 200px;
    }
}

@media only screen and (max-width: 750px) {
    .App_container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 550px) {
    .App {
        padding-bottom: 200px;
    }
}