* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Pinyon Script', 'ALS Script', 'Edwardian Script ITC', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./img/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  /* justify-content: center;
  align-content: center;
  align-items: center; */
  width: 750px;
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  color: #afafaf
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 750px) {
  body {
      padding: 0;
  }
}
