.break {
    flex-basis: 100%;
    height: 0;
  }

  .modify {
      display: flex;
      flex-direction: row wrap;
      justify-content: center;
  }

  .bio_container {
    display: flex;
    background-color: transparent;
    margin-top: 0%;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    /* box-shadow: 0 4px 8px 0 rgba(30,34,27,0.6), 0 6px 20px 0 rgba(133,144,118,0.19); */
}


.bio_content {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 80vh;
    width: 95%;
    /* height: 100%; */
}

.bio_content_innards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
    width: 100%;
    max-width: 100%;
    min-height: 20vh;
    padding: 5px;
    padding-bottom: 30px;
}

.bio_content_innards p {
    color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio_content_innards h1 {
    color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 30px;
}

.bio_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 95%;
    max-width: 95%;
    min-height: 20vh;
    white-space: pre-wrap;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bio_form textarea {
    resize: vertical;
    width: 80%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 20vh;
    white-space: pre-wrap;
}

.bio_form input {
    width: 80%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 5vh;
}

.header {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-content: center;
    align-items: top;
    width: 100%;
    max-width: 100%;
    color: black;
}

.header h1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-size: 24px;
    width: 80%;
    max-width: 80%;
    padding: 4px;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}

.editremove {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color: gray;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}

.editremove:hover{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color:#9e9277;
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (max-width: 750px) { 
    .bio_container {  
    margin-bottom: 120px;
    max-width: 100%;
    background: black;
}

.bio_content {
    border: 0;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

.bio_content_innards {
    width: 98%;
    max-width: 98%;
}

    .bio_header {
        width: 75%;
    }

    .add_subject {
        width: 91%;
        background-color: #9e9277;
        color: black;
        border: solid 1px white;
        min-height: 5vh;
    }
    
    .add_content {
        width: 91%;
        background-color: #9e9277;
        color: black;
        border: solid 1px white;
        min-height: 20vh;
        white-space: pre-wrap;
    }
}