.navigation_container {
    border-top: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
    min-width: 95%;
    max-width: 95%;
    justify-content: center;
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: row wrap;
    position: relative;
    padding: 10px 5px 5px 10px;
}

.navigation_content {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    height: 100%;
}

.navigation_link {
    color: #afafaf;
    /* border-bottom: 3px solid white;
    border-left: 7px solid #2a2924; */
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 30px;
    /* font-weight: bold; */
    padding: 5px 0 5px 10px;
    margin-bottom: 10px;
    text-align: left;
    transition: 0.4s;
}

.navigation_link:hover {
    display: inline-block;
    padding-right: 10px;
    transition: 0.4s;
    animation: .8s shake;
    transform: rotate(15deg);
    color: #9e9277;
}

.navigation_link:active {
    display: inline-block;
    padding-right: 10px;
    transition: 0.4s;
    /* animation: .8s shake; */
    transform: rotate(15deg);
    color: #9e9277;
}

@keyframes shake {
    0% { transform: rotate(0);  color:white; }
    100% { transform: rotate(180); color:#9e9277}  
}

@keyframes color {
    from {background-color: black;}
    to {background-color: white;}
}

.exit-button {
    display: none;
}

@media only screen and (max-width: 950px) {
    .navigation_container {
        min-width: 100%;
        max-width: 100%;
    }

    .navigation_link:hover {
        padding: 20;
    }
}

@media only screen and (max-width: 750px) {
    .navigation_container {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
        background: black;
        text-align: left;
        position: fixed;
        /* border: solid #afafaf; */
        padding: 0;
        top: 0;
        z-index: 1;
        height: 100vh;
        left: -100%;
        transition: 1s;
        justify-content: center;
        align-items: center;
    }
    
    .show-navigation {
        left: 0;
    }
    
    .navigation_content {
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 80%;
        height: 100%;
        background-color:#585e52;
        border-left: 2px solid #afafaf;
        border-right: 2px solid #afafaf;
        /* padding: 80px 40px 0 40px; */
        transition: 1s;
        position: relative;
    }
    
    .navigation_link {
        text-align: center;
        color: #afafaf;
        border-left: none;
        padding-left: 0;
        /* margin-bottom: 15px; */
        font-size: 30px;
        text-decoration: none;
    }
    
    .navigation_link:visited {
        color: #afafaf;
    }
    
    .navigation_link:hover {
        padding-left: 10px;
        color: black;
        background-color: #9e9277;
    }
    
    .exit-button {
        display: inline;
        /* text-align: left; */
        position: fixed;
        bottom: 20%;
        /* right: -34px; */
        cursor: pointer;
    }

    .exit-button i {
        margin: 0;
        /* padding: 2px 6px; */
        background: transparent;
        color: #afafaf;
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .navigation_content {
        width: 90%;
    }
}