.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    background-color: #9e9277;
}

.one {
    grid-column: 1/3;
    grid-row: 1;
    background-color: yellow;
}

.two {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: crimson;
}

.three {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: cyan;
}

/* .four {
    grid-column: 3;
    grid-row: 3;
    background-color: darkblue;
}

.five {
    grid-column: 2;
    grid-row: 4;
    background-color: darkcyan;
}

.six {
    grid-column: 3;
    grid-row: 4;
    background-color: darkgoldenrod;
} */




.break {
    flex-basis: 100%;
    height: 0;
  }

  .modify {
      display: flex;
      flex-direction: row wrap;
      justify-content: center;
    }
    
.disco_content {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 80vh;
    /* height: 100%; */
}

.disco_content_innards {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    /* align-items: center; */
    background-color: black;
    width: 90%;
    max-width: 90%;
    min-height: 20vh;
    padding: 5px;
    padding-bottom: 30px;
}

.disco_content_innards p {
    color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.disco_content_innards h1 {
	color: #9e9277;
    text-align: justify;
    text-justify: inter-character;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 20px;
}

.disco_form {
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    width: 95%;
    max-width: 95%;
    min-height: 20vh;
    white-space: pre-wrap;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.disco_cover {
    display: flex;
	width: 100px;
	height: 100px;
}

.disco_description {
    display: flex;
    flex-flow: column;
    
}

.header {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-content: center;
    align-items: top;
    width: 100%;
    max-width: 100%;
    color: black;
}

.header h1 {
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
    font-size: 14px;
    width: 80%;
    max-width: 80%;
    padding: 4px;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    word-break: break-word;
}

.add_subject {
    width: 80%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 5vh;
}

.add_content {
    width: 81%;
    background-color: #9e9277;
    color: black;
    border: solid 1px white;
    min-height: 20vh;
    white-space: pre-wrap;
}

.editremove {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color: gray;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}

.editremove:hover{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    justify-content: right;
    color:#9e9277;
    cursor: pointer;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (max-width: 750px) { 
    .disco_container {  
    margin-bottom: 120px;
    max-width: 100%;
    background: black;
}

.disco_content {
    border: 0;
    max-width: 100%;
    width: 100%;
    justify-content: center;
}

.disco_content_innards {
    width: 98%;
    max-width: 98%;
}

    .disco_header {
        width: 75%;
    }

    .add_subject {
        width: 91%;
        background-color: #9e9277;
        color: black;
        border: solid 1px white;
        min-height: 5vh;
    }
    
    .add_content {
        width: 91%;
        background-color: #9e9277;
        color: black;
        border: solid 1px white;
        min-height: 20vh;
        white-space: pre-wrap;
    }
}